@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body,
html {
    height: 100vh;
    width: 100%;
    overflow: hiddens;
    background-color: #111;
}



#nav-bar {
    position: fixed;
    display: flex;
    height: 12vh;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 10.4vw;
    background-color: #111;
    color: white;
    width: 100%;
    z-index: 10;
}

.nav-element {
    font-size: 0.85vw;
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    padding: 0.5vw 0;
    z-index: 10;
}

.nav-element h4 {
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 0.86vw;
    margin-bottom: 2.6vw;
}

.nav-element h5 {
    margin-bottom: .9vw;
    font-weight: 400;
    color: #fff;
    display: none;
}

.nav-element h5 span {
    font-size: 0.8vw;
    font-weight: 500;
    display: inline-block;
}


.lets-talk-button {
    padding: 0.5vw .7vw;
    background-color: #0DA34E;
    cursor: pointer;
    border-radius: 1.3vw;
    font-size: 1vw;
    border: none;
    display: flex;
    align-items: flex-start;
    gap: 1vw;
}

.lets-talk-button i {
    font-size: 1.3vw;
}

.nav-bottom {
    position: absolute;
    background-color: red;
    height: 0vh;
    width: 79%;
    top: 100%;
    border-bottom: 1px solid #fff;
    background-color: #111;
    z-index: 9;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page1 h1 {
    font-size: 7vw;
    text-align: center;
    line-height: 6.5vw;
    letter-spacing: -0.2vw;
    text-transform: uppercaase;
    font-weight: 700;
}

.page1 p {
    text-transform: uppercase;
    font-size: 1vw;
    padding: .7vw;
    font-weight: 400;
    text-align: center;
    line-height: 1.3vw;
}

#features-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2vw;
    margin-top: .3vw;
}

#features-link a {
    font-size: 1vw;
    text-decoration: none;
    color: white;
    padding: 0.5vw 0.6vw;
    border: rgb(117, 117, 117) 1px solid;
    border-radius: 1vw;
}




.moving-div {
    position: absolute;
    bottom: 3%;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    padding: 1.8vw 0;
    /* background-color: red; */
}

.moving-elem {
    display: inline-block;
    white-space: nowrap;
    animation: moving 10s linear infinite;
}

.moving-elem img {
    height: 45px;
    margin: 0px 15px;
}


#left-blur {
    height: 100%;
    background: linear-gradient(to right, #111, transparent);
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#right-blur {
    height: 100%;
    background: linear-gradient(to right, transparent, #111);
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}


@keyframes moving {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.page2 {
    height: 100vh;
    width: 100%;
    /* background-color: #ff0000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    position: relative;
    color: #fff;
    overflow: hidden;

    /* 
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1px solid #333;
    justify-content: space-between; */

}

.left-side {
    height: 100%;
    width: 40%;
    /* background-color: #333; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}

.left-side p {
    font-size: 1vw;

}

.left-side h5 {
    font-size: 1.1vw;
    width: 75%;
    font-weight: 400;

}

.right-side {
    height: 100%;
    width: 50%;

}


.right-elem {
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2 {
    font-size: 1.4vw;
    font-weight: 400;

}


.right-elem img {
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    scale: 0;
    position: absolute;
}


.page3 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(./Assets/images/SAMPLE.jpg);
    background-position: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.page3-button {
    padding: 4vw 1 vw;
    border-radius: 50%;
    background-color: red;
}

.page3-center {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.page3-center .icon {
    padding: 3vw;
    border-radius: 50%;
    background-color: #fff;
}

.page3-center .icon i {
    font-size: 1.7vw;
    font-weight: 400;
}

.page3-center h5 {
    font-size: 1vw;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    margin-top: .7vw;
    border-radius: 50px;
    opacity: 0;
    transition: all ease 0.5s;
    text-transform: uppercase;
    transform: translateY(10%);
}

.page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 40px;
    opacity: 0;
    z-index: 9999999;
}



.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);
}

.page4 {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
 
}

.page4-container{
    border-top: 1px solid #fff;
    position: relative;
    padding: 8vw 10.5vw 5vw 10.5vw ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row; 
    border-bottom: 1px solid #dadada;
}

.page4-left{
    width: 40%;
}
.page4-left h1{
    font-size: 2.8vw;
    font-weight: 600;
}

.page4-right{
    width: 44%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: #000;

    /* position: absolute; */
    
}

.page4-container h5{
    font-size: 0.9vw;
    padding: 0 0 1.4vw 0 ;
    font-weight: 500;
    text-transform: uppercase;
    color: #b1adad;
}

.page4-container p{
    font-weight: 500;
    font-size: 1.17vw;
}

.lower-right{
    padding-top: 2vw; 
}

.page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}

.section-1{
    padding: 4vw 10.5vw 0 10.5vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.sec-left{
    width: 40%;
}

.sec-left h5